node_modules
.qodo
.vscode
.idea

.env
package-lock.json

dist/
build/

src/storage/logs/*
!src/storage/logs/.gitkeep

src/storage/data/*
!src/storage/data/.gitkeep
!src/storage/data/roles-permissions.json